* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: hidden;
}
.container {
  padding-left: 135px;
  padding-right: 135px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 68px));
  column-gap: 30px;
  row-gap: 30px;
}
.maxw {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: Rische;
  src: url(/assets/fonts/rische.otf);
}
@font-face {
  font-family: Work Sans;
  src: url(/assets/fonts/WorkSans.ttf);
}
header > div{
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 26px;
}
.menu {
  position: absolute;
  margin-top: 48px;
  margin-left: 64px;
  order: 1;
}
.menuMob {
  position: absolute;
  visibility: hidden;
  order: 2;
}
.logo{
  order: 3;
  margin: 0 auto;
}
.section1 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: url(../img/brod0.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 180px;
  padding-right: 7px;
}
.section1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.content {
  position: relative;
  z-index: 1;
  padding-top: 352px;
}
.content > h2 {
  width: 614px;
  height: 120px;
  font-family: "Rische";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.content > button {
  box-sizing: border-box;
  margin-top: 24px;
  background: transparent;
  padding: 20px 48px;
  gap: 10px;
  width: 275px;
  height: 58px;
  border: 1px solid #ffffff;
}
.start {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24em;
  color: #ffffff;
  transition: 1.5s ease;
}
.start:hover{
  background-color: #ffffff;
  transition: 1.5s ease;
  color: black;
}
.inquire {
  position: absolute;
  bottom: 5%;
  right: 174px;
  z-index: 1;
}
.scroller {
  position: absolute;
  top: 90%;
  left: 45%;
  transform: translateX(-50%);
  z-index: 1;
}
.round {
  grid-column-start: 1;
  height: 800px;
  width: 568px;
}
.shine {
  transform: translateX(450px);
}
.text {
  grid-column-start: 8;
  height: 624px;
  width: 368px;
}
.text > h2 {
  font-family: "Rische";
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 110%;
  color: #000000;
}
.lenght {
  padding-top: 56px;
  display: flex;
  gap: 40px;
}
.number {
  font-family: "Rische";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #000000;
}
.txt {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  color: #838383;
}
.happen {
  padding-top: 56px;
}
.happen > h3 {
  font-family: "Rische";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #000000;
  padding-bottom: 16px;
}
.lorem {
  width: 468px;
  height: 216px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 180%;
  color: #000000;
}
.happen > button {
  align-items: flex-start;
  margin-top: 52px;
  padding: 20px 48px;
  gap: 10px;
  width: 192px;
  height: 58px;
  background: #0047ff;
  box-shadow: 6px 57px 23px rgba(26, 113, 255, 0.04),
    3px 32px 20px rgba(26, 113, 255, 0.13),
    2px 14px 14px rgba(26, 113, 255, 0.21), 0px 4px 8px rgba(26, 113, 255, 0.25),
    0px 0px 0px rgba(26, 113, 255, 0.25);
}
.discover {
  width: 96px;
  height: 18px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.24em;
  border-color: #0047ff;
  color: #ffffff;
  transition: 1.5s ease;
}
.discover:hover{
  background-color: #ffffff;
  transition: 1.5s ease;
  color: #0047ff;;
}
.bottom {
  padding-bottom: 180px;
}
.republic {
  width: 368px;
  height: 12px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  color: #0047ff;
}
.destinations > h2 {
  padding-top: 16px;
  padding-bottom: 32px;
  width: 368px;
  height: 177px;
  font-family: "Rische";
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 110%;
  color: #000000;
}
.three {
  padding-bottom: 32px;
  width: 400px;
  height: 108px;
}
.destinations > button {
  align-items: flex-start;
  gap: 10px;
  height: 58px;
  width: 235px;
  border-radius: 0px;
  padding: 20px 48px 20px 48px;
  background: #0047ff;
  box-shadow: 6px 57px 23px rgba(26, 113, 255, 0.04),
    3px 32px 20px rgba(26, 113, 255, 0.13),
    2px 14px 14px rgba(26, 113, 255, 0.21), 0px 4px 8px rgba(26, 113, 255, 0.25),
    0px 0px 0px rgba(26, 113, 255, 0.25);
}
.flex2 {
  display: flex;
  gap: 98px;
  width: 100%;
}

.flex3 {
  display: flex;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 24px;
  width: 120px;
  margin-top: 48px;
  transform: translateX(520px);
}

.maxx{
  width: fit-content;
}

.brac, .hvar, .brac2{
  transition: transform 0.5s ease;
}

.slider {
  display: flex;
  flex-direction: row;
  padding-right: 32px;
  overflow-x: hidden;
  width: fit-content;
}

.arrowLeft1, .arrowLeft2 {
  display: flex;
  color: white;
  padding: 15px;
  opacity: 0.2;
  background: #0047FF;
  border-radius: 50px;
  border: none;
}

.arrowRight1, .arrowRight2 {
  display: flex;
  color: white;
  padding: 15px;
  background: #0047FF;
  border-radius: 50px;
  border: none;
}

.animations:enabled {
  background: #0047FF;
  box-shadow: 6px 57px 23px rgba(26, 113, 255, 0.04),
      3px 32px 20px rgba(26, 113, 255, 0.13),
      2px 14px 14px rgba(26, 113, 255, 0.21),
      0px 4px 8px rgba(26, 113, 255, 0.25),
      0px 0px 0px rgba(26, 113, 255, 0.25);
}
.animations:disabled {
  opacity: 0.4;
}
.animations:hover {
  background: #2F69FF;
  cursor: pointer;
}

/*
.buttons > button {
  width: 68px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 15px;
}*/
.left {
  padding-left: 0px;
}
.flex4 {
  display: flex;
  gap: 232px;
}
.expect {
  padding-top: 309px;
  width: 466px;
  height: 435px;
}
.expect > h2 {
  padding-top: 16px;
  padding-bottom: 32px;
  width: 368px;
  height: 177px;
  font-family: "Rische";
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 110%;
  color: #000000;
}
.two {
  width: 466px;
  height: 108px;
}
.expect > button {
  align-items: flex-start;
  margin-top: 52px;
  padding: 20px 48px;
  gap: 10px;
  width: 192px;
  height: 58px;
  background: #0047ff;
  box-shadow: 6px 57px 23px rgba(26, 113, 255, 0.04),
    3px 32px 20px rgba(26, 113, 255, 0.13),
    2px 14px 14px rgba(26, 113, 255, 0.21), 0px 4px 8px rgba(26, 113, 255, 0.25),
    0px 0px 0px rgba(26, 113, 255, 0.25);
}
.references {
  padding-bottom: 72px;
}
.references > div > h2 {
  padding-top: 16px;
  padding-bottom: 32px;
  width: 799px;
  height: 59px;
  font-family: "Rische";
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 110%;
  color: #000000;
}
/*
.buttons2 {
  padding-top: 39px;
  display: flex;
  gap: 24px;
  width: 120px;
}
.buttons2 > button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-color: transparent;
}*/
.buttons2{
  display: flex;
  gap: 24px;
  width: 120px;
  height: fit-content;
  margin-top: 50px;
}
.slider2 {
  padding-right: 32px;
  overflow-x: hidden;
  width: fit-content;
}

.flex5 {
  display: flex;
  gap: 249px;
}
.containers {
  transition: transform 0.5s ease;
  display: flex;
  gap: 32px;
}
.box {
  padding-left: 60px;
  width: 668px;
  height: 372px;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
}
.box > div img {
  width: 48px;
  height: 48px;
}
.loremi {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 180%;
  color: #000000;
}
.box > div .loremi {
  width: 550px;
  height: 54px;
  padding-top: 142px;
  text-align: center;
}
.flex6 {
  margin-left: 160px;
  margin-top: 26px;
  align-items: center;
  display: flex;
  gap: 12px;
}
.flex6 p {
  width: 143px;
  height: 26px;
  font-family: "Rische";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  color: #000000;
}
.section2 {
  width: auto;
  height: 100vh;
  background-image: url(../img/brod2.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  /*background-attachment: scroll;*/
  padding-bottom: 180px;
  margin-bottom: 180px;
  padding-right: 7px;
}
.content2 > div {
  padding-top: 120px;
  grid-row-start: 12;
}
.content2 div > p {
  width: 466px;
  height: 12px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  color: #ffffff;
}
.content2 > div > h2 {
  width: 466px;
  height: 118px;
  font-family: "Rische";
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 110%;
  color: #ffffff;
}
.content2 > div > button {
  margin-top: 32px;
  width: 238px;
  height: 58px;
  align-items: flex-start;
  padding: 20px 48px;
  gap: 10px;
  background: #0047ff;
  box-shadow: 6px 57px 23px rgba(26, 113, 255, 0.04),
    3px 32px 20px rgba(26, 113, 255, 0.13),
    2px 14px 14px rgba(26, 113, 255, 0.21), 0px 4px 8px rgba(26, 113, 255, 0.25),
    0px 0px 0px rgba(26, 113, 255, 0.25);
}
.relative{
  position: relative;
}
.content3 {
  position: relative;
  height: 80vh;
}
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 16px;
  z-index: 2;
  width: 880px;
  height: 177px;
  font-family: "Rische";
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 110%;
  text-align: center;
  color: #000000;
}
.text2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.gallery {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 150px;
  display: flex;
  gap: 170px;
  z-index: -1;
}
.text2 > p {
  align-items: center;
  text-align: center;
}
.church {
  padding-top: 200px;
  width: 197px;
  height: 144px;
}
.par {
  padding-top: 100px;
  width: 210px;
  height: 282px;
}
footer {
  background: rgba(1, 49, 170, 0.8);
  backdrop-filter: blur(40px);
  width: auto;
}
.yolo2 {
  grid-column-start: 1;
  padding-top: 120px;
}
.lists {
  display: flex;
  gap: 260px;
  grid-column-start: 1;
  padding-top: 180px;
}
.hello {
  font-family: "Rische";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
  padding-bottom: 20px;
}
.list1 {
  list-style: none;
  font-family: "Rische";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 170%;
}
.list1 > li > a {
  text-decoration: none;
  color: #ffffff;
}
.agency {
  width: 217px;
  height: 84px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  color: #ffffff;
}
.lists::after {
  content: "";
  width: 1166px;
  background: #4b68b1;
  height: 1px;
  position: absolute;
  margin-top: 355px;
}
.flex {
  margin-top: 180px;
  grid-column-start: 1;
  display: flex;
  gap: 395px;
  padding-bottom: 120px;
}
.made {
  padding-top: 16px;
}
.lista2 {
  list-style: none;
  display: flex;
  gap: 60px;
  width: max-content;
}
.lista2 > li > a {
  text-decoration: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ffffff;
}

@media only screen and (max-width: 1250px) {
  .round {
    grid-column-start: 1;
    height: 650px;
    width: 418px;
  }
  .text{
    grid-column-start: 8;
  }
  .shine {
    transform: translateX(330px);
  }
}
@media only screen and (max-width: 1024px) {
  .buttons {
    margin-left: 500px;
  }
  .block{
    display: block;
  }
  .text{
    margin-top: 60px;
  }
  .flex4{
    display: block;
  }
  .expect{
    padding-top: 100px;
    padding-left: 135px;
  }
  /*
  .buttons, .buttons2{
    display: none;
  }
  */
  .flex5{
    display: block;
  }
  .buttons {
    transform: translateX(0px);
  }
  .title{
    width: 680px;
  }
  .left2{
    padding-left: 0px;
  }
  .gallery{
    padding-left: 20px;
    gap: 70px;
  }
  .lists{
    gap: 60px;
  }
  .flex{
    gap: 250px;
  }
  .lista2{
    display: block;
  }
  .lists::after {
    width: 766px;
  }
}
@media only screen and (max-width: 900px){
  .lists {
    display: block;
  }
  .parent{
    display: flex;
  }
  .lists::after {
    margin-top: 115px;
    width: 566px;
  }
  .list1, .parent{
    padding-bottom: 50px;
  }
  .flex{
    display: block;
  }
  .made{
    padding-bottom: 40px;
  }  
  .content3{
    height: 90vh;
  }
}
@media only screen and (max-width: 768px) {
  .menuMob {
    visibility: visible;
    margin-top: 48px;
    margin-left: 64px;
  }
  .menu {
    visibility: hidden;
    margin-top: 0px;
    margin-left: 0px;
  }
  .box{
    width: 468px;
  }
  .expect{
    padding-left: 20px;
  }
  .inquire, .scroller{
    display: none;
  }
  .section1 > .content{
    margin-left: 50px;
  }
  .content {
    top: 40%;
    position: absolute;
    z-index: 1;
    padding-top: 0px;
  }
  .content > h2 {
    width: 400px;
    font-size: 36px;
  }
  .content > button {
    margin-top: -24px;
    padding: 20px 24px;
    width: 205px;
  }
  .start{
    font-size: 12px;
  }
  .flex2{
    display: block;
  }
  .flex3{
    margin-top: 60px;
  }
  .happen > button {
    margin-top: 0px;
  }
  .references > div > h2 {
    width: 499px;
    font-size: 44px;
  }
  .one {
    width: 430px;
  }
  .box > div .loremi {
    width: 396px;
  }
  .loremi {
    font-size: 12px;
  }
  .flex6 {
    margin-left: 95px;
  }
  .relative{
    position: relative;
  }
  .content2 {
    position: absolute;
    bottom: 15%;
  }
  .title{
    width: 680px;
    font-size: 44px;
  }
  .church {
    padding-top: 200px;
    width: 147px;
    height: 94px;
  }
  .cruise {
    width: 347px;
    height: 394px;
  }
  .par {
    padding-top: 100px;
    width: 110px;
    height: 182px;
  }
  .lists {
    display: block;
  }
  .parent{
    display: flex;
  }
  .lists::after {
    margin-top: 115px;
    width: 366px;
  }
  .list1, .parent{
    padding-bottom: 50px;
  }
  .flex{
    display: block;
  }
  .made{
    padding-bottom: 40px;
  }
  .container{
    padding-left: 80px;
  }
}
@media only screen and (max-width: 580px) {
  .buttons {
    margin-left: 100px;
    margin-top: 10px;
  }
  .box{
    padding-left: 0px;
  }
  .broc{
    width: 400px;
  }
  .container, .expect{
    padding-left: 50px;
  }
  .title{
    font-size: 34px;
    width: 460px;
  }
  .content3{
    height: 60vh;
    margin-left: 50px;
  }
  .gallery{
    gap: 10px;
  }
  .cruise {
    margin-top: 0px;
    width: 282px;
    height: 366px;
  }
  .shine{
    transform: translateX(230px);
  }
  .round {
    grid-column-start: 1;
    height: 550px;
    width: 318px;
  }
  .text > h2{
    font-size: 40px;
  }
  .lorem {
    width: 268px;
    font-size: 11px;
  }
  .destinations > h2 {
    padding-bottom: 0px;
    font-size: 44px;
  }
  .expect > h2 {
    padding-bottom: 0px;
    width: 268px;
    font-size: 44px;
  }
  .expect > button {
    margin-top: 10px;
  }
  .content2 > div > h2 {
    width: 366px;
    font-size: 44px;
  }
  .content2 > div > button {
    margin-top: 0px;
  }
  .content3 {
    height: 80vh;
  }
  .ship{
    width: auto;
  }
  .bottom {
    padding-bottom: 100px;
  }
  .discover{
    font-size: 10px;
  }
  .happen > button {
    padding: 15px 44px;
    width: 160px;
    height: 49px;
  }
  .destinations > button {
    height: 49px;
    width: 186px;
    padding: 15px 40px 15px 43px;
  }
  .expect > button {
    padding: 14px 42px;
    width: 155px;
    height: 49px;
  }
  .content2 > div > button {
    width: 170px;
    height: 49px;
    padding: 15px 36px;
  }
  .hello{
    margin-top: -100px;
  }
}
@media only screen and (max-width: 445px) {
  .broc {
    width: 316px;
  }
  .hello{
    margin-top: -100px;
  }
  .content > h2 {
    width: 300px;
    font-size: 30px;
  }
  .content > button {
    height: 30px;
    margin-top: -42px;
    padding: 20px 12px;
    width: 155px;
  }
  .start {
    font-size: 10px;
  }
  .shine{
    transform: translateX(230px);
  }
  .round {
    grid-column-start: 1;
    height: 550px;
    width: 318px;
  }
  .text > h2{
    font-size: 40px;
  }
  .lorem {
    width: 268px;
    font-size: 11px;
  }
  .lists::after {
    margin-top: 115px;
    width: 285px;
  }
  .title {
    font-size: 30px;
  }
  .gallery{
    gap: 10px;
    top: -50px;
  }
  .cruise {
    margin-top: 0px;
    width: 224px;
    height: 316px;
  }
  .content2 > div > h2 {
    width: 334px;
    font-size: 40px;
  }
  .references > div > h2 {
    width: 351px;
    font-size: 34px;
  }
  .container, .expect {
    padding-left: 30px;
  }
  .references {
    padding-bottom: 12px;
  }
  .number{
    font-size: 20px;
  }
  .txt{
    font-size: 10px;
  }
}
@media only screen and (max-width: 375px){
  .box{
    width: 368px;
    padding-left: 50px;
  }
  .broc {
    width: 268px;
  }
  .menuMob{
    margin-top: 10px;
    margin-left: 20px;
  }
  .content3 {
    height: 60vh;
  }
  .lenght {
    display: block;
  }
  .number{
    margin-bottom: 20px;
  }
  .content > h2 {
    width: 220px;
    font-size: 24px;
  }
  .round {
    grid-column-start: 1;
    height: 441px;
    width: 245px;
  }
  .shine {
    transform: translateX(170px);
  }
  .destinations > h2 {
    font-size: 32px;
    width: 236px;
  }
  .lorem {
    width: 217px;
    font-size: 10px;
  }
  .expect > h2 {
    font-size: 27px;
    width: 208px;
    height: 112px;
  }
  .references > div > h2 {
    width: 238px;
    font-size: 31px;
    height: 95px;
  }
  .box > div .loremi {
    width: 213px;
  }
  .flex6 {
    margin-left: 4px;
    margin-top: 49px;
  }
  .content2 > div > h2 {
    width: 227px;
    font-size: 29px;
  }
  .title {
    font-size: 24px;
    width: 379px;
  }
  .church {
    padding-top: 117px;
    width: 124px;
    height: 81px;
  }
  .cruise {
    margin-top: -20px;
    width: 227px;
    height: 312px;
  }
  .par {
    padding-top: 57px;
    width: 90px;
    height: 141px;
  }
  .hello{
    margin-top: -100px;
    font-size: 27px;
  }
  .lists::after {
    width: 245px;
  }
  .list1{
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px){
  .box{
    padding-left: 30px;
  }
}

/*
@media only screen and (max-width: 1200px) {
  .text {
    grid-column-start: 10;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1024px) {
  .text {
    grid-column-start: 12;
  }
}
@media only screen and (max-width: 880px) {
  .text {
    grid-column-start: 12;
    padding-left: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .menuMob {
    visibility: visible;
    margin-top: 48px;
    margin-left: 64px;
  }
  .menu {
    visibility: hidden;
    margin-top: 0px;
    margin-left: 0px;
  }
  .text {
    grid-column-start: 12;
    padding-left: 250px;
  }
  .text2 {
    grid-column-start: 6;
  }
  .republic {
    font-size: 19px;
  }
  .start {
    font-size: 19px;
  }
  .content > button {
    width: 350px;
    height: 78px;
  }
  .content > h2 {
    width: 714px;
    font-size: 70px;
    height: 170px;
  }
  .inquire {
    grid-column-start: 10;
  }
  .scroller > a > img {
    width: 30px;
    height: 40px;
  }
  .inquire > a > img {
    width: 300px;
    height: 90px;
  }
  .text > h2 {
    font-size: 64px;
  }
  .txt {
    font-size: 17px;
  }
  .number {
    font-size: 29px;
  }
  .happen > h3 {
    font-size: 32px;
  }
  .lorem {
    width: 548px;
    font-size: 19px;
  }
  .happen > button {
    margin-top: 102px;
    width: 215px;
    height: 62px;
  }
  .discover {
    font-size: 17px;
  }
  .destinations > button {
    margin-top: 32px;
    height: 65px;
    width: 265px;
  }
  .flex2 {
    display: block;
  }
  .islands {
    padding-top: 32px;
    margin-left: 498px;
  }
  .expect > button {
    margin-top: 122px;
    width: 215px;
  }
  .expect {
    margin-left: -30px;
  }
  .two {
    width: 596px;
    height: 91px;
  }
  .one {
    width: 930px;
  }
  .box {
    overflow: hidden;
    padding-left: 10px;
  }
  .box > div .loremi {
    width: 660px;
    height: 104px;
  }
  .loremi {
    font-size: 20px;
  }
  .content2 > div > button {
    width: 260px;
    height: 58px;
  }
  .res {
    width: 40px;
  }
  .image3 {
    width: 140px;
  }
  .logo {
    grid-column-start: 8;
  }
  .lista2 > li > a {
    font-size: 20px;
    line-height: 29px;
  }
  .agency {
    width: 417px;
    font-size: 19px;
    line-height: 29px;
  }
  .lists {
    gap: 180px;
  }
  .lista2 {
    display: block;
  }
  .list1 {
    font-size: 33px;
  }
  .image3 {
    width: 140px;
  }
  .hello {
    font-size: 34px;
  }
  .social {
    width: 30px;
  }
  .parent {
    width: 100px;
  }
  .inquire {
    visibility: hidden;
  }
  .scroller {
    visibility: hidden;
  }
}
@media only screen and (max-width: 660px) {
  .block {
    gap: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .res {
    width: 60px;
  }
  .image3 {
    width: 200px;
  }
  .image3 {
    width: 200px;
  }
  .text {
    margin-left: -250px;
  }
  .block {
    display: block;
  }
  .inquire > a > img {
    width: 430px;
    height: 120px;
  }
  .inquire {
    padding-top: 380px;
    grid-column-start: 9;
  }
  .inquire > a > img {
    width: 440px;
    height: 120px;
  }
  .scroller {
    padding-top: 380px;
  }
  .scroller > a > img {
    width: 50px;
    height: 70px;
  }
  .section1 {
    height: 230vh;
  }
  .content > h2 {
    width: 814px;
    font-size: 90px;
    height: 170px;
  }
  .start {
    font-size: 36px;
  }
  .content > button {
    width: 550px;
    height: 148px;
    margin-top: 150px;
  }
  .content {
    grid-row-start: 5;
  }
  .text {
    margin-top: 50px;
    margin-left: -200px;
  }
  .text > h2 {
    width: 600px;
    font-size: 110px;
  }
  .bottom {
    padding-bottom: 1100px;
  }
  .number {
    font-size: 70px;
  }
  .txt {
    font-size: 37px;
  }
  .happen > h3 {
    font-size: 62px;
    width: 700px;
  }
  .lorem {
    width: 1048px;
    font-size: 39px;
  }
  .happen > button {
    padding: 50px 48px;
    margin-top: 442px;
    width: 415px;
    height: 132px;
  }
  .discover {
    font-size: 47px;
  }
  .destinations > h2 {
    width: 868px;
    font-size: 94px;
    padding-bottom: 200px;
  }
  .destinations > button {
    padding: 54px 48px;
    margin-top: 192px;
    width: 555px;
    height: 132px;
  }
  .islands {
    display: flex;
    margin-left: 0px;
    margin-top: 100px;
  }
  .islands {
    width: 1288px;
    overflow: hidden;
  }
  .broc {
    width: 900px;
    height: 1400px;
  }
  .hvar {
    width: 700px;
    height: 1400px;
  }
  .buttons {
    visibility: collapse;
  }
  .republic {
    font-size: 40px;
    width: 768px;
    padding-bottom: 30px;
  }
  .flex4 {
    display: block;
  }
  .text {
    margin-top: 100px;
    margin-left: -250px;
  }
  .flex4 > div > img {
    width: 1000px;
    height: 1100px;
    margin-top: -800px;
  }
  .expect {
    padding-left: 135px;
    width: 1000px;
  }
  .expect > h2 {
    width: 468px;
    font-size: 94px;
  }
  .lorem {
    width: 1248px;
    font-size: 39px;
    margin-top: 10px;
  }
  .expect > button {
    margin-top: 222px;
    padding: 54px 48px;
    width: 440px;
    height: 132px;
  }
  .two {
    margin-top: 150px;
  }
  .destinations {
    margin-top: 250px;
  }
  .flex5 {
    display: block;
  }
  .buttons2 {
    visibility: collapse;
  }
  .references > div > h2 {
    width: 1199px;
    font-size: 94px;
    padding-bottom: 100px;
  }
  .one {
    width: 2930px;
    height: 700px;
  }
  .box {
    overflow: hidden;
    padding-left: 100px;
  }
  .box > div .loremi {
    width: 760px;
    height: 104px;
  }
  .loremi {
    font-size: 40px;
  }
  .flex6 {
    margin-top: 300px;
  }
  .flex6 p {
    height: 60px;
    width: 343px;
    font-size: 54px;
  }
  .box > div img {
    width: 98px;
    height: 98px;
  }
  .two2 {
    height: 700px;
  }
  .references {
    margin-top: -200px;
  }
  .section2 {
    height: 230vh;
    margin-top: -700px;
  }
  .content2 > div > p {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .content2 > div > h2 {
    width: 814px;
    font-size: 90px;
    height: 170px;
    margin-bottom: 72px;
  }
  .content2 > button {
    width: 550px;
    height: 148px;
    margin-top: 150px;
  }
  .content2 > div > button {
    margin-top: 122px;
    padding: 54px 49px;
    width: 545px;
    height: 132px;
  }
  .footer {
    margin-top: -700px;
  }
  .cruise {
    width: 1000px;
    height: 1200px;
  }
  .title {
    width: 1280px;
    font-size: 74px;
  }
  .text2 {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .gallery {
    gap: 140px;
    margin-left: -200px;
    width: 1488px;
    overflow: hidden;
  }
  .church {
    padding-top: 600px;
  }
  .par {
    padding-top: 400px;
  }

  .lists {
    display: block;
  }
  .bottom2 {
    padding-bottom: 80px;
  }
  .hello {
    font-size: 76px;
  }
  .social {
    width: 60px;
  }
  .parent {
    width: 200px;
  }
  .list1 {
    font-size: 55px;
  }
  .agency {
    line-height: 41px;
    width: 717px;
    font-size: 30px;
  }
  .made {
    width: 350px;
  }
  .copyright {
    width: 500px;
  }
  .lista2 > li > a {
    font-size: 30px;
  }
  .flex {
    display: block;
  }
  .lista2 {
    padding-top: 80px;
    display: block;
    line-height: 50px;
  }
  .lists::after {
    margin-top: 155px;
  }
}
@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 320px) {
  body {
    overflow-x: hidden !important;
  }
  header {
    width: 1260px;
    padding-right: 0px;
  }
  .lists::after {
    width: 1000px;
  }
  .lorem {
    width: 900px;
  }
  .two {
    height: 250px;
  }
  .three {
    height: 200px;
  }
  .references > div > h2 {
    width: 1000px;
  }
  .section1 {
    padding-bottom: 250px;
  }
  .shine {
    visibility: hidden;
  }
  .round {
    height: 1300px;
    width: 968px;
  }
  .content2 > div > button {
    padding: 57px 115px;
    width: 695px;
  }
  .broc {
    height: 1100px;
    width: 800px;
  }
  .hvar {
    height: 1100px;
    width: 373px;
    overflow: hidden;
  }
  .coast {
    width: 433px;
  }
  .containers {
    width: 1145px;
    overflow: hidden;
  }
  .why {
    width: 450px;
  }
  .title {
    width: 1080px;
  }
  .gallery {
    gap: 40px;
    width: 1345px;
    overflow: hidden;
  }
  .lists::after {
    width: 1000px;
  }
  .flex3 {
    width: 1288px;
    padding-right: 0px;
  }
  .islands {
    width: 1248px;
    display: block;
    gap: 0px;
  }
}
*/

.popUp{
  position: absolute;
  z-index: 1;
  width: 0%;
  background-color: #345ABB;
  height: 100vh;
  transition: width 0.5s ease;
  overflow: hidden;
}
.sectMain{
  position: relative;
  z-index: 1;
}
header > div{
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 26px;
}
.menu {
  position: absolute;
  margin-top: 48px;
  margin-left: 64px;
  order: 1;
}
.menuMob {
  position: absolute;
  visibility: hidden;
  order: 2;
}
.logo{
  order: 3;
  margin: 0 auto;
}
.sectionPopUp{
  padding-top: 177px;
}
.parent{
  max-width: 100%;
  margin-right: auto;
  margin-left: 0;
}
.listaPopUp{
  padding-top: 32px;
  display: flex;
  gap: 24px;
}

ul > li{
  list-style: none;
}
.listPopUp li{
  width: 300px;
}
.listPopUp li a{
  text-decoration: none;
  color: white;
  font-family: Rische;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 172%;
  letter-spacing: 0.03em;
}
.listaPopUp li a{
  text-decoration: none;
  color: white;
  font-family: Rische;
  opacity: 0.8;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.23em;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px){

}
@media only screen and (max-width: 900px){
.parent {
    padding-bottom: 50px;
    display: block;
}
}
@media only screen and (max-width: 768px) {
  .menuMob{
      visibility: visible;
      margin-top: 48px;
      margin-left: 64px;
  }
  .menu{
      visibility: hidden;
  }
  .listPopUpli a{
      font-size: 30px;
  }
  .listaPopUp > li a{
      font-size: 12px;
  }
  .container {
      padding-left: 64px;
  }
}
@media only screen and (max-width: 425px){

}
@media only screen and (max-width: 375px){
  .menuMob{
    margin-top: 10px;
    margin-left: 20px;
  }
  .container {
      padding-left: 20px;
  }
  .listPopUp li a {
      font-size: 27px;
  }
}
@media only screen and (max-width: 320px){
  .listPopUp li a {
      font-size: 24px;
  }
  .listaPopUp > li a {
      font-size: 10px;
  }
  .listaPopUp{
      padding-top: 10px;
  }
}
